
<div id="div_{{ widget.attrs.id }}">
    <input type="{{ widget.type }}" name="{{ widget.name }}"{% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %} />
    <script type="text/javascript">
        $( document ).ready(function() {
            var input = $('#{{ widget.attrs.id }}');
            input.hide();
            var div = $("#div_{{ widget.attrs.id }}");
            var list = MakeList(div, "{{ widget.name }}", input, '{{ widget.separator }}', {{ widget.minimum }}, {{ widget.maximum }});
        });
    </script>
</div>
